<!DOCTYPE html>
<html>
    <head>
        <title>Matrix inverse</title>
    </head>
    <body>
        <p align="center">
            <div>
                <a href="https://jinja2-matrix-inverse-e7c3411e719f.herokuapp.com">
                    Return
                </a>
                to the instructions page.
            </div>
            <div>Error: Problematic string(s)</div>
            <ul>
                {% for string in strings %}
                    <li>{{ string }}</li>
                {% endfor %}
            </ul>
        </p>
    <body>
</html>
