<!DOCTYPE html>
<html>
<head>
    <title>Matrix inverse</title>
</head>
<body>
    <div style="padding-top: 5px; padding-left: 10px; padding-right: 30px;">
    <h3><p align="center">
        Instructions for Matrix Inversion:
    </p></h3>
    <p align="center">
        <a href="https://pknipp.github.io/math">
            Return
        </a>
        to the Math APIs page.
    </p>
    <ul>
        <li>
            After <tt>...herokuapp.com</tt> above you should type <tt>/</tt> followed by your (square) matrix.
        </li>
        <li>
            Spaces are allowed - but discouraged - because <tt>%20</tt> will replace each space after you hit <tt>return</tt>, thereby making the address uglier.
        </li>
        <li>
            Input your matrix (<i>A</i>) as a comma-separated list of comma-separated lists of numbers, each inner-list being a row of the matrix.  Contain both inner- and outer lists with brackets.
        </li>
        <li>
            Represent each number as an integer or decimal but not as fraction, because "<tt>/</tt>" has special meaning in a URL. Do not include a comma in any number (even one exceeding one thousand), because that will get confused with the commas which separate different numbers.
        </li>
        <li>
            Example: <a href={{base_url ~ frag1}}>Click here</a> for the url ...herokuapp.com/{{frag1}}, which represents a simple 2x2 matrix.
        </li>
        <li>
            If you want to solve a matrix equation of the form <i>Ax</i> = <i>b</i>, then after your matrix type "<tt>/</tt>" followed by one or more column vectors (<i>b</i>), formatted in the same way as for the rows of your square matrix.
        </li>
        <li>
            Example: <a href={{base_url ~ frag2}}>Click here</a> for the url ...herokuapp.com/{{frag2}}, which represents 3 different systems of equations, each having the same square matrix <i>A</i> (which is the same as in the example above):
        </li>
        <li>
            If you want the response in json rather than in html, simply insert <tt>/api</tt> between <tt>...heroku.com</tt> and the matrix.
        </li>
    </ul>

    <p align=center>
        creator:&nbsp;
        <a href='https://pknipp.github.io/' target='_blank' rel='noopener noreferrer'>
            Peter Knipp
        </a>
        <br/>
        repo:&nbsp;
        <a href='https://github.com/pknipp/matrix-inverse' target='_blank'  rel='noopener noreferrer'>
            github.com/pknipp/matrix-inverse
        </a>
    </p>
    </div>
</body>
</html>
